<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">{{user.first_name}}</a>
  </nav> 

  <div class="container" style="padding: 10px;">
    <p><a href="{% url 'ytdl:create-link'%}"> Download Video </a></p>
    <p><a href="{% url 'ytdl:index' %}"> View Download History </a></p>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
  </div>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}